In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
df = pd.read_excel('Question_3.xlsx',sheet_name=1)

In [5]:
df_1 = df.copy()

In [6]:
df.head()

,month,format,device_type,bid_type,network_id,spend,impressions,clicks,measurable_imps,viewable_imps,engagements,video_start,video_complete
0,Nov-2019,display,desktop,cpc,20,73.556544,58641,49,15468,6389,4,0,0
1,Nov-2019,display,desktop,cpc,75,227.396937,41074,168,7426,2679,13,0,0
2,Nov-2019,display,desktop,cpc,85,332.988521,303787,225,49079,26364,46,0,0
3,Nov-2019,display,desktop,cpc,86,55.406442,85832,45,6806,2568,1,0,0
4,Nov-2019,display,desktop,cpc,87,304.833211,239124,223,30268,13555,59,0,0

In [9]:
df_1.head()

,month,format,device_type,bid_type,network_id,spend,impressions,clicks,measurable_imps,viewable_imps,engagements,video_start,video_complete
0,Nov-2019,display,desktop,cpc,20,73.556544,58641,49,15468,6389,4,0,0
1,Nov-2019,display,desktop,cpc,75,227.396937,41074,168,7426,2679,13,0,0
2,Nov-2019,display,desktop,cpc,85,332.988521,303787,225,49079,26364,46,0,0
3,Nov-2019,display,desktop,cpc,86,55.406442,85832,45,6806,2568,1,0,0
4,Nov-2019,display,desktop,cpc,87,304.833211,239124,223,30268,13555,59,0,0

In [11]:
months=df.loc[:,'month']

In [14]:
pd.to_datetime(months)

0       2019-11-01
1       2019-11-01
2       2019-11-01
3       2019-11-01
4       2019-11-01
5       2019-11-01
6       2019-11-01
7       2019-11-01
8       2019-11-01
9       2019-11-01
10      2019-11-01
11      2019-11-01
12      2019-11-01
13      2019-11-01
14      2019-11-01
15      2019-11-01
16      2019-11-01
17      2019-11-01
18      2019-11-01
19      2019-11-01
20      2019-11-01
21      2019-11-01
22      2019-11-01
23      2019-11-01
24      2019-11-01
25      2019-11-01
26      2019-11-01
27      2019-11-01
28      2019-11-01
29      2019-11-01
           ...
10148   2020-09-01
10149   2020-09-01
10150   2020-09-01
10151   2020-09-01
10152   2020-09-01
10153   2020-09-01
10154   2020-09-01
10155   2020-09-01
10156   2020-09-01
10157   2020-09-01
10158   2020-10-01
10159   2020-10-01
10160   2020-10-01
10161   2020-10-01
10162   2020-10-01
10163   2020-10-01
10164   2020-10-01
10165   2020-10-01
10166   2020-10-01
10167   2020-10-01
10168   2020-10-01
10169   2020-10-01
10170   2020-10-01
10171   2020-10-01
10172   2020-10-01
10173   2020-10-01
10174   2020-10-01
10175   2020-10-01
10176   2020-10-01
10177   2020-10-01
Name: month, Length: 10178, dtype: datetime64[ns]

In [17]:
df['month'] = pd.to_datetime(df.loc[:,'month'])

In [18]:
df.head()

,month,format,device_type,bid_type,network_id,spend,impressions,clicks,measurable_imps,viewable_imps,engagements,video_start,video_complete
0,2019-11-01,display,desktop,cpc,20,73.556544,58641,49,15468,6389,4,0,0
1,2019-11-01,display,desktop,cpc,75,227.396937,41074,168,7426,2679,13,0,0
2,2019-11-01,display,desktop,cpc,85,332.988521,303787,225,49079,26364,46,0,0
3,2019-11-01,display,desktop,cpc,86,55.406442,85832,45,6806,2568,1,0,0
4,2019-11-01,display,desktop,cpc,87,304.833211,239124,223,30268,13555,59,0,0

In [20]:
df.set_index('month',inplace=True)

In [21]:
df.head()

,format,device_type,bid_type,network_id,spend,impressions,clicks,measurable_imps,viewable_imps,engagements,video_start,video_complete
month,,,,,,,,,,,,
2019-11-01,display,desktop,cpc,20,73.556544,58641,49,15468,6389,4,0,0
2019-11-01,display,desktop,cpc,75,227.396937,41074,168,7426,2679,13,0,0
2019-11-01,display,desktop,cpc,85,332.988521,303787,225,49079,26364,46,0,0
2019-11-01,display,desktop,cpc,86,55.406442,85832,45,6806,2568,1,0,0
2019-11-01,display,desktop,cpc,87,304.833211,239124,223,30268,13555,59,0,0

In [37]:
df.resample('M',kind='period')['spend'].sum()

month
2019-11    1.032744e+06
2019-12    1.147448e+06
2020-01    6.667797e+05
2020-02    8.787875e+05
2020-03    8.998957e+05
2020-04    6.513043e+05
2020-05    7.887478e+05
2020-06    1.161175e+06
2020-07    1.244084e+06
2020-08    1.397477e+06
2020-09    2.199930e+06
2020-10    2.811848e+06
Freq: M, Name: spend, dtype: float64

In [59]:
current_year_spend = round(df.pivot_table(index='month',values='spend',columns='format',aggfunc=sum),2)

In [60]:
current_year_spend

format            CTV    display     native      video
month
2019-11-01   56182.40  273085.14  519593.81  183882.87
2019-12-01   62856.68  351618.02  523165.04  209808.23
2020-01-01   50160.89  188693.62  320419.22  107505.92
2020-02-01   83015.12  250523.54  348180.39  197068.48
2020-03-01   75013.94  309932.56  340529.92  174419.28
2020-04-01   58260.39  243478.50  246920.71  102644.70
2020-05-01   82450.70  287237.99  305858.96  113200.14
2020-06-01  117066.81  398866.43  490723.59  154517.73
2020-07-01  162355.29  459961.59  394665.18  227101.44
2020-08-01  192268.00  449418.39  444036.02  311754.66
2020-09-01  336780.08  510400.27  616350.22  736398.95
2020-10-01  438700.42  824421.63  628847.07  919878.80

In [75]:
projections = round((current_year_spend.loc[:,'CTV']*1.25) + (current_year_spend.loc[:,'display']*1.048)+(current_year_spend.loc[:,'native']*1.048)+(current_year_spend.loc[:,'video']*1.11),2)

In [77]:
projections.index=pd.date_range('2020-11-01','2021-10-01',freq='MS')

In [80]:
projections

2020-11-01    1105065.53
2020-12-01    1228230.63
2021-01-01     715582.94
2021-02-01     949956.63
2021-03-01     969057.50
2021-04-01     700699.48
2021-05-01     850281.13
2021-06-01    1250138.53
2021-07-01    1350675.57
2021-08-01    1522722.89
2021-09-01    2419212.45
2021-10-01    3092466.59
Freq: MS, dtype: float64

In [85]:
projections.to_csv('projections.csv')

C:\Users\Carlyle\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.