# Wrangling data...

In order to use your marketing data correctly it needs to be in the right format to run calculations, draw charts and marke predictions. Gettting your data in the correct order is refered to as data wrangling.

In the section you will:

<ul>
    <li>Correcting data from Google Analytics by creating a new page URL</li>
    <li>Group data</li>
    <li>Fix data types</li>
    <li>Drop columns</li>
    <li>Replace data values</li>
    <li>Join two dataset to create a new dataset</li>
    <li>Save new datasets as CSV</li>
</ul>

In [2]:
import pandas as pd # Lodad the pandas library
import numpy as np

In [3]:
#Import google analytics pages data
ga_page_data = pd.read_csv('data/ga_data/ga_pages.csv', skiprows=6, nrows=376)
ga_page_traffic_data = pd.read_csv('data/ga_data/ga_pages.csv', 
                                   skiprows=386, nrows=366, parse_dates=['Day Index'])

In [4]:
ga_page_data

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,/,813,665,00:02:05,641,14.35%,55.97%,£0.00
1,/www.miratrix.co.uk,515,388,00:02:17,373,59.25%,56.89%,£0.00
2,/get-in-touch/,336,163,00:01:06,23,10.53%,33.04%,£0.00
3,/app-marketing-agency/,140,120,00:02:04,73,18.31%,57.86%,£0.00
4,/app-store-optimization-services/,136,105,00:01:30,22,14.29%,47.79%,£0.00
5,/get-in-touch/www.miratrix.co.uk,87,66,00:02:19,7,71.43%,45.98%,£0.00
6,/miratrix.co.uk,68,42,00:00:49,41,68.29%,50.00%,£0.00
7,/app-marketing-agency/www.miratrix.co.uk,67,58,00:02:36,24,75.00%,58.21%,£0.00
8,/?page_id=16198,60,2,00:00:15,1,0.00%,0.00%,£0.00
9,/app-store-optimization-services/www.miratrix....,55,48,00:02:42,7,71.43%,47.27%,£0.00
10,/blog/,34,32,00:01:26,13,14.29%,61.76%,£0.00
11,/channel/UCAQfRNzXGD4BQICkO1KQZUA,30,25,00:00:34,24,41.67%,46.67%,£0.00
12,/blog/www.miratrix.co.uk,25,24,00:00:48,11,63.64%,72.00%,£0.00
13,/channel/UCAQfRNzXGD4BQICkO1KQZUA/videos,23,21,00:04:44,9,88.89%,78.26%,£0.00
14,/blippar-the-message-isnt-clear/,20,17,00:00:30,17,41.18%,85.00%,£0.00
15,/mobile-app-competitor-analysis/,19,15,00:08:12,15,6.67%,78.95%,£0.00
16,/instagram-ads-for-business/,17,12,00:01:45,2,100.00%,41.18%,£0.00
17,/candy-crush-ads-london/www.miratrix.co.uk,13,9,00:05:01,9,66.67%,61.54%,£0.00
18,/category/the-weekly-noise/,13,13,00:02:32,4,25.00%,46.15%,£0.00
19,/author/nduddy/www.miratrix.co.uk,12,10,00:06:44,9,66.67%,66.67%,£0.00
20,/facebook-ad-agency/,12,12,00:00:25,2,50.00%,25.00%,£0.00
21,/in-app-analytics-setup/www.miratrix.co.uk,12,9,00:04:32,8,75.00%,75.00%,£0.00
22,/candy-crush-ads-london/,11,10,00:09:45,10,27.27%,90.91%,£0.00
23,/facebook-ad-agency/www.miratrix.co.uk,11,11,00:00:57,3,66.67%,36.36%,£0.00
24,/mobile-app-competitor-analysis/www.miratrix.c...,11,11,00:00:00,11,100.00%,100.00%,£0.00
25,/weekly-round-up-9/,11,8,00:00:37,8,0.00%,63.64%,£0.00
26,/google-play-ads/,9,8,00:00:33,1,100.00%,33.33%,£0.00
27,/tag/rendevu-app/www.miratrix.co.uk,9,6,00:00:14,6,66.67%,66.67%,£0.00
28,/c/miratrixcouk,8,7,00:05:23,7,57.14%,62.50%,£0.00
29,/get-in-touch/miratrix.co.uk,8,5,00:01:13,2,50.00%,50.00%,£0.00
...,...,...,...,...,...,...,...,...
346,/tag/steam-iphone/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
347,/tag/steam-link-app/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
348,/tag/t-mobile-digits/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
349,/tag/teensafe-app/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
350,/tag/teensafe-leaking-data/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
351,/tag/twemojis/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
352,/tag/twitter-emojis/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
353,/tag/what3words/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
354,/the-app-store-times/,1,1,00:00:00,1,0.00%,100.00%,£0.00
355,/the-app-store-times/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
356,/the-level-ups-and-downs-of-mobile-gaming/boston/,1,1,00:00:00,1,0.00%,100.00%,£0.00
357,/the-united-states-of-app-merica/,1,1,00:00:00,1,0.00%,100.00%,£0.00
358,/the-weekly-noise-4/,1,1,00:00:00,1,0.00%,100.00%,£0.00
359,/the-weekly-noise-app-news-five-fantastic-thin...,1,1,00:00:00,1,0.00%,100.00%,£0.00
360,/the-weekly-noise/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
361,/top-3-competitor-analysis-for-aso/www.miratri...,1,1,00:00:00,1,100.00%,100.00%,£0.00
362,/unethical-kids-apps-apple-pays-back/www.mirat...,1,1,00:00:00,1,100.00%,100.00%,£0.00
363,/user/refikaninmutfagi/playlists,1,1,00:00:00,0,0.00%,100.00%,£0.00
364,/warning-apps-leaking-personal-data/,1,1,00:00:00,1,0.00%,100.00%,£0.00
365,/weekly-round-up-12/,1,1,00:00:00,1,0.00%,100.00%,£0.00
366,/weekly-round-up-13/,1,1,00:00:00,1,0.00%,100.00%,£0.00
367,/weekly-round-up-7/miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
368,/weekly-round-up-9/?fbclid=IwAR3lKy1TBu1X2mq5g...,1,1,00:00:00,1,0.00%,100.00%,£0.00
369,/weekly-round-up/,1,1,00:00:00,1,0.00%,100.00%,£0.00
370,/what-is-content-marketing/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
371,/will-pwa-kill-aso-mtx60/www.miratrix.co.uk,1,1,00:00:00,1,100.00%,100.00%,£0.00
372,/window-shopping/phonebook-results/,1,1,00:00:00,1,0.00%,100.00%,£0.00
373,/www.miratrix.co.uk?hjVerifyInstall=1094588,1,1,00:01:02,1,0.00%,0.00%,£0.00
374,/www.miratrix.co.uk?page_id=35,1,1,00:00:07,0,0.00%,0.00%,£0.00
375,/www.miratrix.co.uk#utm_source=nav&utm_medium=...,1,1,00:10:00,1,0.00%,0.00%,£0.00

In [3]:
#Importing pages data from Google Search Console
gsc_page = pd.read_csv('data/gsc_data/gsc_pages.csv')

In [4]:
#Import Facebook ad data
fb_data = pd.read_csv('data/other_data/facebook-data-ads.csv', 
                      parse_dates=['Reporting starts','Reporting ends'])

## Fix Google Analytics Page data

We know that some of the data being gathered in Google Analytics is wrong. Google Analytics has been gathering homepage data under two page, these pages are `/` and `/www.miratrix.co.uk`.

Also during this process we will want to create a URL that can be paired with data gathered from Google Search Console. I'll split the data on '/' to allow me to break the URL into three parts. '/' denotes a breaks in the URL. Then I will rebuild the URL in the order which matches the GSC data URL's.

In [5]:
#Look at Google Analytics data
ga_page_data.head()

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,/,813,665,00:02:05,641,14.35%,55.97%,£0.00
1,/www.miratrix.co.uk,515,388,00:02:17,373,59.25%,56.89%,£0.00
2,/get-in-touch/,336,163,00:01:06,23,10.53%,33.04%,£0.00
3,/app-marketing-agency/,140,120,00:02:04,73,18.31%,57.86%,£0.00
4,/app-store-optimization-services/,136,105,00:01:30,22,14.29%,47.79%,£0.00

### Recreate Google Analytics Page URL

In [6]:
#Split the url by /
split_dom = ga_page_data.Page.str.rpartition("/")

In [7]:
split_dom.head()

                                  0  1                   2
0                                    /
1                                    /  www.miratrix.co.uk
2                     /get-in-touch  /
3             /app-marketing-agency  /
4  /app-store-optimization-services  /

In [8]:
split_dom[2].replace("", "miratrix.co.uk", inplace=True)

In [9]:
#Change URLformat so that it matches other data sources 
split_dom[2].replace("www.miratrix.co.uk", "miratrix.co.uk", inplace=True)

In [10]:
split_dom.head()

                                  0  1               2
0                                    /  miratrix.co.uk
1                                    /  miratrix.co.uk
2                     /get-in-touch  /  miratrix.co.uk
3             /app-marketing-agency  /  miratrix.co.uk
4  /app-store-optimization-services  /  miratrix.co.uk

In [11]:
#Build the URL and replace current URL's with new URL format
ga_page_data.Page = "https://" + split_dom[2] + split_dom[0] + "/"

In [12]:
ga_page_data.head()

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,https://miratrix.co.uk/,813,665,00:02:05,641,14.35%,55.97%,£0.00
1,https://miratrix.co.uk/,515,388,00:02:17,373,59.25%,56.89%,£0.00
2,https://miratrix.co.uk/get-in-touch/,336,163,00:01:06,23,10.53%,33.04%,£0.00
3,https://miratrix.co.uk/app-marketing-agency/,140,120,00:02:04,73,18.31%,57.86%,£0.00
4,https://miratrix.co.uk/app-store-optimization-...,136,105,00:01:30,22,14.29%,47.79%,£0.00

### Grouping Data

In order to fix the issue of having two homepage URL (and possibly more) we will need to group the data by Page. This poses some issues as not all the data are numerical and you are also dealing with a timeseries.

What can be done is to change the object fields to numerical and to convert the time on page column to a timedelta.

In [5]:
ga_page_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 8 columns):
Page                 376 non-null object
Pageviews            376 non-null int64
Unique Pageviews     376 non-null int64
Avg. Time on Page    376 non-null object
Entrances            376 non-null int64
Bounce Rate          376 non-null object
% Exit               376 non-null object
Page Value           376 non-null object
dtypes: int64(3), object(5)
memory usage: 23.6+ KB

#### Wrangling data types for Groupby function

In [6]:
#Replace 0  with time format 00:00:00
ga_page_data['Avg. Time on Page'] = ga_page_data['Avg. Time on Page'].replace(0, '00:00:00')

In [7]:
#Convert column from string to time delta
ga_page_data['Avg. Time on Page'] = pd.to_timedelta(ga_page_data['Avg. Time on Page'])

In [8]:
#Replace % with nothing
ga_page_data['Bounce Rate'] = ga_page_data['Bounce Rate'].str.replace('%',"")
#Convert the column into a Float
ga_page_data['Bounce Rate'] = ga_page_data['Bounce Rate'].astype('float')

In [9]:
#Replace % with nothing
ga_page_data['Page Value'] = ga_page_data['Page Value'].str.replace('£',"")
#Convert the column into a Float
ga_page_data['Page Value'] = ga_page_data['Page Value'].astype('float')

In [17]:
#Replace % with nothing
ga_page_data['% Exit'] = ga_page_data['% Exit'].str.replace('%',"")

In [22]:
#Convert the column into a Float
ga_page_data['% Exit'] = ga_page_data['% Exit'].astype('float')

In [34]:
ga_page_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 8 columns):
Page                 376 non-null object
Pageviews            376 non-null int64
Unique Pageviews     376 non-null int64
Avg. Time on Page    376 non-null timedelta64[ns]
Entrances            376 non-null int64
Bounce Rate          376 non-null float64
% Exit               376 non-null float64
Page Value           376 non-null float64
dtypes: float64(3), int64(3), object(1), timedelta64[ns](1)
memory usage: 23.6+ KB

In [32]:
ga_page_data['% Exit'] = ga_page_data['% Exit'].astype('float')

In [19]:
#Set the index for the dataframe to Page
ga_page_data.set_index('Page',inplace=True)

In [50]:
ga_page_data.head()

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,/,813,665,00:02:05,641,14.35,55.97,0.0
1,/www.miratrix.co.uk,515,388,00:02:17,373,59.25,56.89,0.0
2,/get-in-touch/,336,163,00:01:06,23,10.53,33.04,0.0
3,/app-marketing-agency/,140,120,00:02:04,73,18.31,57.96,0.0
4,/app-store-optimization-services/,136,105,00:01:30,22,14.29,47.79,0.0

In [20]:
#Check the data to make sure the data types have changed
ga_page_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 376 entries, https://miratrix.co.uk/ to https://www.miratrix.co.uk#utm_source=nav&utm_medium=traffic&utm_campaign=datatools/
Data columns (total 7 columns):
Pageviews            376 non-null int64
Unique Pageviews     376 non-null int64
Avg. Time on Page    376 non-null timedelta64[ns]
Entrances            376 non-null int64
Bounce Rate          376 non-null float64
% Exit               376 non-null float64
Page Value           376 non-null float64
dtypes: float64(3), int64(3), timedelta64[ns](1)
memory usage: 23.5+ KB

#### Applying Groupby to the data

In [38]:
#Groupby Index and get the mean of the 'Avg. Time on Page'
avg_time = ga_page_data.groupby(ga_page_data.index)['Avg. Time on Page'].mean(numeric_only=False)

In [39]:
#Convert avg_time to dataframe and store as ga_Time
ga_time = pd.DataFrame(avg_time)

In [61]:
#Groupby bounce, exit, pageviews and Unique pageviews using the appropriate math 
#and store in a dataframe. Save as ga_bou_ex_type
ga_bou_ex_type = pd.DataFrame(ga_page_data.groupby('Page').agg({
    'Bounce Rate': ['mean'], "% Exit": ['mean'],'Pageviews': sum, 'Unique Pageviews': sum}))

In [60]:
ga_page_data.groupby(ga_page_data.index)[['Bounce Rate','% Exit']].mean().head()

   Bounce Rate  % Exit
0        14.35   55.97
1        59.25   56.89
2        10.53   33.04
3        18.31   57.96
4        14.29   47.79

In [62]:
ga_bou_ex_type.head()

,Bounce Rate,% Exit,Pageviews,Unique Pageviews
,mean,mean,sum,sum
Page,,,,
/,14.35,55.97,813,665
/#utm_source=nav&utm_medium=traffic&utm_campaign=datatools,0.00,50.00,2,2
/2014/08/www.miratrix.co.uk,100.00,100.00,1,1
/2944-2gopro-app-banks-go-biometric-samsonite-saves-luggage/,0.00,100.00,1,1
/5-tips-successful-app/,0.00,100.00,1,1

In [63]:
#Check your aggreated groupby
ga_bou_ex_type.info()

<class 'pandas.core.frame.DataFrame'>
Index: 376 entries, / to /📈-will-favourite-app-marketing-channel-surprise-mtx65/www.miratrix.co.uk
Data columns (total 4 columns):
(Bounce Rate, mean)        376 non-null float64
(% Exit, mean)             376 non-null float64
(Pageviews, sum)           376 non-null int64
(Unique Pageviews, sum)    376 non-null int64
dtypes: float64(2), int64(2)
memory usage: 14.7+ KB

#### Rebuilding the Google Analytics dataframe

Here we will rebuild the Google Analytics dataset with the fixed data for use later.

In [68]:
ga_page_data.head()

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,/,813,665,00:02:05,641,14.35,55.97,0.0
1,/www.miratrix.co.uk,515,388,00:02:17,373,59.25,56.89,0.0
2,/get-in-touch/,336,163,00:01:06,23,10.53,33.04,0.0
3,/app-marketing-agency/,140,120,00:02:04,73,18.31,57.96,0.0
4,/app-store-optimization-services/,136,105,00:01:30,22,14.29,47.79,0.0

In [70]:
ga_bou_ex_type.reset_index(inplace=True)

In [71]:
ga_bou_ex_type.head()

,Page,Bounce Rate,% Exit,Pageviews,Unique Pageviews
,,mean,mean,sum,sum
0,/,14.35,55.97,813,665
1,/#utm_source=nav&utm_medium=traffic&utm_campai...,0.00,50.00,2,2
2,/2014/08/www.miratrix.co.uk,100.00,100.00,1,1
3,/2944-2gopro-app-banks-go-biometric-samsonite-...,0.00,100.00,1,1
4,/5-tips-successful-app/,0.00,100.00,1,1

In [73]:
#Merge ga_time and ga_bou_ex_type on page and with an inner join
new_ga = pd.merge(ga_page_data, #left dataset
                  ga_bou_ex_type, #right dataset
                  how='inner', # we're joning using the data in the column
                  left_on="Page", # the left dataset is neing joined on the column Page
                  right_on="Page" # the right dataset is neing joined on the column Page
                 ).sort_values(by="Avg. Time on Page" ,ascending=False) #sort the new dataframe

C:\Users\Carlyle\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:522: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\Carlyle\Anaconda3\lib\site-packages\pandas\core\generic.py:3812: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [74]:
new_ga.head()

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value,"(Bounce Rate, mean)","(% Exit, mean)","(Pageviews, sum)","(Unique Pageviews, sum)"
64,/top-3-competitor-analysis-for-aso/,4,4,00:36:19,4,0.0,75.0,0.0,0.0,75.0,4,4
228,/channel/UCAQfRNzXGD4BQICkO1KQZUA/channels,1,1,00:21:45,0,0.0,0.0,0.0,0.0,0.0,1,1
209,/blog/page/30/www.miratrix.co.uk?SuperSocializ...,1,1,00:14:57,1,0.0,0.0,0.0,0.0,0.0,1,1
106,/channel/UCAQfRNzXGD4BQICkO1KQZUA/about,2,2,00:14:45,0,0.0,0.0,0.0,0.0,0.0,2,2
232,/channel/UCAQfRNzXGD4BQICkO1KQZUA/videos?view=...,1,1,00:14:43,0,0.0,0.0,0.0,0.0,0.0,1,1

In [36]:
#rename (Bounce Rate, mean), (% Exit, mean), (Pageviews, sum), (Unique Pageviews, sum)
new_ga = new_ga.rename(columns={('Bounce Rate', 'mean'): 'Bounce Rate', ('% Exit', 'mean') : 'Exit',
                               ('Pageviews', 'sum') : 'Pageviews', 
                               ('Unique Pageviews', 'sum') : 'Unique Pageviews'})

In [37]:
#Check the rename worked
new_ga.head()

,Avg. Time on Page,Bounce Rate,Exit,Pageviews,Unique Pageviews
Page,,,,,
https://channels/channel/UCAQfRNzXGD4BQICkO1KQZUA/,00:21:45,0.0,0.0,1,1
https://miratrix.co.uk/top-3-competitor-analysis-for-aso/,00:18:09.500000,50.0,87.5,5,5
https://www.miratrix.co.uk?SuperSocializerAuth=LiveJournal/blog/page/30/,00:14:57,0.0,0.0,1,1
https://about/channel/UCAQfRNzXGD4BQICkO1KQZUA/,00:14:45,0.0,0.0,2,2
https://videos?view=0&sort=p&flow=grid/channel/UCAQfRNzXGD4BQICkO1KQZUA/,00:14:43,0.0,0.0,1,1

## Dropping Columns

Sometimes we end up with data that we don't need that we want to drop out of our dataframe. In this tutuorial you'll learn how to drop columns from Google Analytics and Facebook ads data.

In [41]:
#Check the Google Analytics Page data
ga_page_traffic_data.head()

,Day Index,Pageviews,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2018-08-31,14,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-09-01,6,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-09-02,17,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-09-03,14,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-09-04,11,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#Drop NaN values from the dataset
ga_page_traffic_data.dropna(axis=1, inplace=True)

In [43]:
#Check the dropna worked
ga_page_traffic_data.head()

   Day Index  Pageviews
0 2018-08-31         14
1 2018-09-01          6
2 2018-09-02         17
3 2018-09-03         14
4 2018-09-04         11

In [44]:
#Check the Facebook Ads data
fb_data.head()

,Unnamed: 0,Reporting starts,Reporting ends,Campaign name,Delivery,Mobile app installs,Mobile app actions,Cost per mobile app install (GBP),Cost per mobile app action (GBP),Desktop app installs,Desktop app engagement,Cost per desktop app install (GBP),Cost per desktop app engagement (GBP),Post reactions,Post comments,Post shares
0,0,2014-02-21,2018-01-29,Campaign1,0,11451.0,NaN,1.275683,NaN,NaN,NaN,NaN,NaN,1807.0,42.0,133.0
1,1,2015-12-04,2015-12-04,Campaign2,inactive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,2,2015-10-21,2015-10-21,Campaign3,inactive,2.0,NaN,3.530000,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
3,3,2015-10-20,2015-10-20,Campaign3,inactive,2.0,NaN,16.500000,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN
4,4,2015-10-20,2015-10-20,Campaign4,inactive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
#Drop all columns that have NaN
fb_data.drop('Unnamed: 0', axis=1, inplace=True)

In [46]:
#Check the drop worked
fb_data.head()

,Reporting starts,Reporting ends,Campaign name,Delivery,Mobile app installs,Mobile app actions,Cost per mobile app install (GBP),Cost per mobile app action (GBP),Desktop app installs,Desktop app engagement,Cost per desktop app install (GBP),Cost per desktop app engagement (GBP),Post reactions,Post comments,Post shares
0,2014-02-21,2018-01-29,Campaign1,0,11451.0,NaN,1.275683,NaN,NaN,NaN,NaN,NaN,1807.0,42.0,133.0
1,2015-12-04,2015-12-04,Campaign2,inactive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,2015-10-21,2015-10-21,Campaign3,inactive,2.0,NaN,3.530000,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
3,2015-10-20,2015-10-20,Campaign3,inactive,2.0,NaN,16.500000,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN
4,2015-10-20,2015-10-20,Campaign4,inactive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Replacing missing (NaN) Facebook Ad data

We cans see from the Facebook Ad data that there are a lot of NaN (Not A Number) values, these values are missing data. In order to visualise this data we will need to replace this data with a number. In this case we will use 0.

In [47]:
fb_data.fillna(0,inplace=True)

In [48]:
#Check that fillna worked
fb_data.head()

,Reporting starts,Reporting ends,Campaign name,Delivery,Mobile app installs,Mobile app actions,Cost per mobile app install (GBP),Cost per mobile app action (GBP),Desktop app installs,Desktop app engagement,Cost per desktop app install (GBP),Cost per desktop app engagement (GBP),Post reactions,Post comments,Post shares
0,2014-02-21,2018-01-29,Campaign1,0,11451.0,0.0,1.275683,0.0,0.0,0.0,0.0,0.0,1807.0,42.0,133.0
1,2015-12-04,2015-12-04,Campaign2,inactive,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
2,2015-10-21,2015-10-21,Campaign3,inactive,2.0,0.0,3.530000,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
3,2015-10-20,2015-10-20,Campaign3,inactive,2.0,0.0,16.500000,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0
4,2015-10-20,2015-10-20,Campaign4,inactive,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Joining Google Analytics and Google Search Console Data

In order to extract more value from your datasets you can join them together so that you can view the trends all in one place. Pandas has various methods for joining data in this case you will use `pd.merge`.

In [49]:
#You pandas merge to join Google Console and Google Analytics data
ga_gsc_data = pd.merge(gsc_page, #left data
                       new_ga, #right data
                       how='inner', 
                       left_on="Page", 
                       right_index=True)

In [50]:
#Check it worked
ga_gsc_data.head()

,Page,Clicks,Impressions,CTR,Position,Avg. Time on Page,Bounce Rate,Exit,Pageviews,Unique Pageviews
0,https://miratrix.co.uk/,371,100673,0.37%,42.59,00:01:43.666666,47.296667,54.286667,1396,1095
1,https://miratrix.co.uk/app-marketing-agency/,80,30824,0.26%,26.84,00:01:45.333333,64.436667,60.913333,210,181
2,https://miratrix.co.uk/mobile-app-competitor-a...,16,1458,1.1%,30.64,00:04:06,53.335000,89.475000,30,26
3,https://miratrix.co.uk/blippar-the-message-isn...,11,517,2.13%,36.05,00:00:22.333333,58.170000,78.333333,27,21
4,https://miratrix.co.uk/author/nduddy/,10,140,7.14%,5.61,00:02:52,22.223333,38.890000,15,13

## Saving your data to a CSV

Saving data in pandas is super easy. We'll being using .to_csv() to save the augement and new datasets for use later.

In [51]:
#Save the newly created Page dataset
ga_gsc_data.to_csv('data/other_data/ga_gsc_data.csv')

In [52]:
#Save the amended facebook dataset
fb_data.to_csv('data/other_data/fixed_fb_data.csv')